<html lang="en">
<head>

<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="print.css">
<link rel="stylesheet" href="app.css">

<link id="cv-scheme-css" rel="stylesheet" href="cv.css">
</head>
<body id="cv-viewer">
<div id="cv-layout-viewer">
<div id="cvo-document-root">
<div id="cvo-document" class="cvo-document">
<div class="cvo-page">
<div class="cvo-subpage">
<div id="cvo-body">

<div id="cvo-main">

<div id="group-header">

<div class="cvo-block" id="cvo-profile">
<table id="profile-table">
<tr>
<td>
<span id="cvo-profile-fullname">Nguyễn Văn A</span>
</td>
<td class="avatar-wraper" rowspan="9" class="avatar" id="avatar">
<img id="cvo-profile-avatar" src="https://static.topcv.vn/avatars/j4djrHzIUUgDnfyi01N1_5d83173944f0d_cvtpl.jpg?1584467444" value="j4djrHzIUUgDnfyi01N1_5d83173944f0d_cvtpl.jpg" alt="avatar">
</td>
</tr>
<tr>
<td>
<span class="profile-label">Ngày sinh</span>
<span class="profile-field" id="cvo-profile-dob">02/11/1990</span>
</td>
</tr>
<tr>
<td>
<span class="profile-label">Giới tính</span>
<span class="profile-field" id="cvo-profile-gender">Nam</span>
</td>
</tr>
<tr>
<td>
<span class="profile-label">Điện thoại</span>
<span class="profile-field" id="cvo-profile-phone">0909999999</span>
</td>
</tr>
<tr>
<td>
<span class="profile-label">Email</span>
<span class="profile-field" id="cvo-profile-email">yteviec@gmail.com</span>
</td>
</tr>
<tr>
<td>
<span class="profile-label">Địa chỉ</span>
<span class="profile-field" id="cvo-profile-address">Số 1 đường Cầu Giấy, Hà Nội</span>
</td>
</tr>
<tr>
<td>
<span class="profile-label">Website</span>
<span class="profile-field" id="cvo-profile-website">Giới tính: Nam, Ngày Sinh 02/11/1990</span>
</td>
</tr>
</table>
</div>
</div>


<div id="group-content">
<div class="cvo-block" id="cvo-objective">
<h3 class="cvo-block-title"><span id="cvo-objective-blocktitle">Mục tiêu nghề nghiệp</span></h3>
<div class="block-body">
<div id="cvo-objective-objective">
- Được theo đuổi công việc bản thân yêu thích về ngành Y Khoa và Da Liễu<br />- Trở thành một người cán bộ Y tế mẫu mực, có thể cứu giúp được nhiều bệnh nhân và cống hiến hết mình cho bệnh viện.<br />- Nâng cao trình độ chuyên môn, phấn đầu trở thành nhân viên quản lý trong ngành Y tế.
</div>
</div>
</div> <div class="cvo-block" id="cvo-education">
<h3 class="cvo-block-title"><span id="cvo-education-blocktitle">Học vấn</span></h3>
<div id="education-table">
<div class="row ">
<div class="time">
<span class="cvo-education-start start">10/2008</span>
-
<span class="cvo-education-end end">10/2014</span>
</div>
<div class="school">
<span class="cvo-education-school">Đại học Y Hà Nội</span>
<span class="cvo-education-title">Chuyên ngành: Bác sĩ đa khoa</span>
<span class="cvo-education-details">Bằng cấp: Đại học</span>
</div>
<div style="clear: both"></div>
</div>
<div class="row ">
<div class="time">
<span class="cvo-education-start start">10/2012</span>
-
<span class="cvo-education-end end">10/2014</span>
</div>
<div class="school">
<span class="cvo-education-school">Đại học Y Hà Nội</span>
<span class="cvo-education-title">Chuyên ngành: Bác sĩ Da Liễu</span>
<span class="cvo-education-details">Bằng cấp: Chuyên khoa 1</span>
</div>
<div style="clear: both"></div>
 </div>
</div>
</div>
<div class="cvo-block" id="cvo-additional-info">
<h3 class="cvo-block-title"><span id="cvo-additional-info-blocktitle">công việc mong muốn</span></h3>
<div class="block-body">
<div id="cvo-additional-information-details">
- Cấp bậc mong muốn: Nhân viên<br />- Mức lương: 15,000,000 đến 20,000,000 triệu<br />- Hình thức làm việc: Ngoài giờ/Theo giờ (Part time)<br />- Nơi làm việc mong muốn: Hồ Chí Minh
</div>
</div>
</div> <div class="cvo-block" id="cvo-experience">
<h3 class="cvo-block-title"><span id="cvo-experience-blocktitle">Kinh nghiệm làm việc</span></h3>
<div id="experience-table">
<div class="row ">
<div class="time">
<span class="cvo-experience-start start">09/2012</span>
-
<span class="cvo-experience-end end">07/2014</span>
</div>
<div class="company">
<span class="cvo-experience-company">Phòng khám Da Liễu Hà Nội</span>
<span class="cvo-experience-position">Bác sĩ Da Liễu</span>
<div class="cvo-experience-details">- Khám, tư vấn và điều trị về Da Liễu <div>- Tư vấn và thực hiện điều trị chuyên sâu, chăm sóc thẩm mỹ cho bệnh nhân</div><div>- Theo dõi kết quả điều trị và đáp ứng của bệnh nhân</div><div>- Tư vấn cho bệnh nhân sử dụng các liệu trình tự chăm sóc tại nhà.</div></div>
<div style="clear: both"></div>
</div>
<div style="clear: both"></div>
</div>
<div class="row ">
<div class="time">
<span class="cvo-experience-start start">03/2015</span>
-
<span class="cvo-experience-end end">Hiện tại</span>
</div>
<div class="company">
<span class="cvo-experience-company">Bệnh viện Bạch Mai</span>
<span class="cvo-experience-position">Bác sĩ CK1 - Da Liễu</span>
<div class="cvo-experience-details">- Khám, tư vấn và điều trị về Da Liễu <div>- Tư vấn và thực hiện điều trị chuyên sâu, chăm sóc thẩm mỹ cho bệnh nhân</div><div>- Theo dõi kết quả điều trị và đáp ứng của bệnh nhân</div><div>- Tư vấn cho bệnh nhân sử dụng các liệu trình tự chăm sóc tại nhà.</div></div>
<div style="clear: both"></div>
</div>
<div style="clear: both"></div>
</div>
</div>
</div>
<div class="cvo-block" id="cvo-certification">
<h3 class="cvo-block-title"><span id="cvo-certification-blocktitle">Chứng chỉ</span></h3>
<div id="certification-table">
<div class="row ">
<div class="time">
<span class="cvo-certification-time">09/2015</span>
</div>
<div class="details">
<span class="cvo-certification-title">Chứng chỉ hành nghề</span>
</div>
<div style="clear: both"></div>
</div>
</div>
</div>
<div class="cvo-block" id="cvo-award">
<h3 class="cvo-block-title"><span id="cvo-award-blocktitle">Ngoại Ngữ</span></h3>
<div id="award-table">
<div class="row ">
<div class="time">
<span class="cvo-award-time">02/2016</span>
</div>
<div class="details">
<span class="cvo-award-title">Tiếng Anh                                                           ****</span>
</div>
<div style="clear: both"></div>
</div>
</div>
</div>
<div class="cvo-block" id="cvo-skillgroup">
<h3 class="cvo-block-title"><span id="cvo-skillgroup-blocktitle">Các kỹ năng</span></h3>
<div id="skill-table">
<div class="row">
<div>
<span class="cvo-skillgroup-area">Kỹ năng thuyết trình</span>
</div>
<div>
<span class="cvo-skillgroup-skill-description">*****</span>
</div>
<div style="clear: both"></div>
</div>
<div class="row">
<div>
<span class="cvo-skillgroup-area">Kỹ năng làm việc nhóm</span>
</div>
<div>
<span class="cvo-skillgroup-skill-description">****</span>
</div>
<div style="clear: both"></div>
</div>
<div class="row">
<div>
<span class="cvo-skillgroup-area">Kỹ năng lãnh đạo</span>
</div>
<div>
<span class="cvo-skillgroup-skill-description">***</span>
</div>
<div style="clear: both"></div>
</div>
</div>
</div>
</div>

</div>
</div>

</div>
</div>
</div>
</div>
</div>
</body>
</html>
