<html lang="en"><head>











<link href="print.css" rel="stylesheet" type="text/css">


<link href="temp.css" rel="stylesheet" type="text/css">
<link href="bootstrap.css" rel="stylesheet" type="text/css">







</head>



<body class="jobseeker_site A-Bootstrap">
	<div id="uni_wrapper">
	





		


















<div class="swc-wrapper">
	<div class="container-fluid">
		<div class="cb-container">						
				
			



			






 





				<div class="col-xs-12 step-content cv-mode-finish" id="Step4" style="display: block;">
<div class="editCVtemplate-wrapper editCVtemplate">
	<div class="col-xs-12">
		<div id="ZoneShowCVTemplate" class="cv-template-wrapper cv-template-6 fontCVRoboto clrGreenBlueLight2 fontCVsize14">
							
<div class="col-xs-12 coverCVpage">
	<table class="table-responsive table-wrapper">
		<tbody>
			<tr>
				<td valign="top" style="padding-top: 15%">
					<div class="posRelative">
						<div class="top">
							<div class="left-h">
								<div class="progress-circle">
								   <div class="avatar">
										<img src="https://images.careerbuilder.vn/jobseekers/20181201/4866479_1543674377_212623.jpg">									</div>
								</div>
							</div>
							<div class="right-h">
								<div class="name">
																			<h2>TRAN NHU NHATPHONGCR</h2>
																		<h4>23322</h4>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-xs-12 subCVpage">
<div class="top">
	<div class="left-h">
		<div class="progress-circle">
		   <div class="avatar">
				<img src="https://images.careerbuilder.vn/jobseekers/20181201/4866479_1543674377_212623.jpg">			</div>
		</div>
				<ul class="contact">
			<li><i class="fa fa-phone"></i> 3434324234</li>			<li class="email"><i class="fa fa-envelope"></i>&nbsp;<span>nhatphongcr351@gmail.com</span></li>
		</ul>
			</div>
	<div class="right-h">
		<div class="name">
							<h2>TRAN NHU NHATPHONGCR</h2>
						<h4>23322</h4>
		</div>
		
		<h3>Objectives</h3>
		<div class="text-edt">
			<div class="content_fck">
				<p>432344</p>

			</div>
		</div>
	</div>
</div>
<div class="content">
	<h3>Personal Profile</h3>
	<ul class="contact">
		<li><label>Gender </label> :  Male </li>
		<li><label>Birthday </label> : 10/10/1995</li>
		<li><label>Marital status </label> :  Single</li>
		<li><label>Nationality </label>	: Vietnamese</li>
		<li><label>Country</label>	: Vietnam</li>				<li><label>Address</label> : 3432423, Uong Bi City, Quang Ninh, Vietnam</li>
			</ul>
	<h3>Career Information</h3>
	<ul class="contact">
		<li><label>Level</label> : Entry Level</li>
		<li><label>Salary</label> :  Negotiable
		  </li>
		<li><label>Job type </label> : Full time, Contract/ Freelance</li>
		<li><label>Industry</label> : Marketing</li>
		<li><label>Location</label> : Can Tho - Thoi Lai District
			  ,
			  			  Canada</li>
		
	</ul>
	<h3>Experience </h3>
	<div class="content_fck">
		<p>Year(s) of Experience: 3  </p>
		<p>Current Level: Student / Internship</p>	</div>	
			
	<div class="exp text-edt">
		<div class="title">8/2005 - Now : 3434 - 234323</div>
		<div class="content_fck">
			<p>Một trong những điều tối kỵ nhưng khá nhiều người mắc phải lMột trong những điều tối kỵ nhưng khá nhiều người mắc phải lMột trong những điều tối kỵ nhưng khá nhiều người mắc phải lMột trong những điều tối kỵ nhưng khá nhiều người mắc phải lMột trong những điều tối kỵ nhưng khá nhiều người mắc phải l</p>
		</div>
	</div>
		
	<h3>Education</h3>
	<div class="content_fck">
		<p>Highest Degree Level: No degree</p>
	</div>	
				<div class="exp text-edt">
			<div class="title">No degree - 3232324 </div>
			<div class="content_fck">
				<p>  3323432</p>
			</div>
		</div>		
			<div class="two-col">
		<div class="col1">
			<h3>Skills</h3>
			<ul class="skill">
								<li>
					<label>33</label>
															<div class="point"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
									</li>
							
			</ul>
		</div> 
					<div class="col2">
				<h3>Languages</h3>
				<ul class="skill">
						
					<li>
						<label>English</label>
												<div class="point"><i class="fa fa-star"></i></div>
					</li>			
								
				</ul>
			</div>
				
	</div>
		</div>
</div>						
		</div>
	</div>	
</div>




 				


</div>			
				
		</div>
	</div>
</div>





	

	
	</div>



	

</body></html>